* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {	
  height:120px;	
  background-image: linear-gradient(to right, rgb(79, 66, 201) 40%, white, rgb(79, 66, 201));
  text-align: center;
  color: black;
}
header h4{
	color:rgb(214, 147, 47);
  font-style: oblique;
  font-size: 20px;
	
}
header h2{
	padding-top:20px;
	font-size: 35px;
  font-style: italic;
}



ul.nav1 {
	margin:0;
	padding:0;
	list-style:none;
	height:36px; 
	line-height:36px;
	background:rgb(233, 37, 37); /* you can change the backgorund color here. */
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
}
ul.nav1 li {
	border-right:2px solid white; 
	float:left;
}
ul.nav1 a {
	display:block;
	padding:0 28px;
	color:#ccece6;
	text-decoration:none;
}
ul.nav a:hover,
ul.nav li.current a {
	background:#086754;
}
/* Create two columns/boxes that floats next to each other */
nav {
  float: right;
  width: 30%;
  height: 350px; 
  background: #fffff;
  padding:0 0 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}
.wrapingimage  
{  
float: left;   
margin: 0px 12px 3px 4px;   

}   
article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #ffffff;
  height: 350px; 

}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
  
}

/* Style the footer */
footer {
  background-image: linear-gradient(to right, rgb(79, 66, 201) 40%, white, rgb(79, 66, 201));
  padding: 1px;
  padding-left:20px;
  text-align: left;
  color: white;
}


@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}